!!!5
%html
	%head
		%title
			HelpDesk
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags

	%body
		%div{:class=>'navbar navbar-fixed-top'}
			%div{:class=>'navbar-inner'}
				%div{:class => 'container'}
					%ul{:class=>'nav'}
						%li
							%a{:href => '/'} Home
			

	
		%div{:class=>'container', :id => 'container'}
			=yield



			- helps = Array.new
			- tags = $redis.hgetall('help')
			- tags.each do |titulo, mensagem|
				- helps << titulo	
			-


			= javascript_tag "var tags = ['#{helps.join('\',\'')}']"
	
			